<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Welcome to Firebase Hosting</title>
  <script>

  </script>
  </head>
  <body>
    <iframe src="https://203.122.20.74:8001/" id="output-frame-id"  width="1280" height="720"></iframe>
  </body>
</html>
